.clients {
  padding-top: 60px;
  padding-bottom: 60px;

  &-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;

    color: $primary-text-color;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
  }

  &-link {
    display: flex;
    height: 90px;
    border: 1px solid $title-text-color;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.clients-list-item {
  &:nth-child(n + 3) {
    margin-top: 30px;
  }
}

.clients-list-item {
  width: calc((100% - 30px) / 2);
  &:nth-child(odd) {
    margin-right: 30px;
  }
}

.clients-icon {
  margin: auto;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link {
  &:hover,
  &:focus {
    border-color: $accent-color;
    fill: $accent-color;
  }
}

.clients-icon {
  .clients-link:hover &,
  .clients-link:focus & {
    border-color: $accent-color;
    fill: $accent-color;
  }
}

@media screen and (min-width: 768px) {
  .clients-list-item {
    width: calc((100% - 60px) / 3);
    &:nth-child(n + 3) {
      margin-top: 0px;
    }
    &:nth-child(odd) {
      margin-right: 0px;
    }
    &:nth-last-child(-n + 3),
    &:nth-child(-n + 2) {
      margin-right: 30px;
    }
    &:nth-last-child(1) {
      margin-right: 0px;
    }
    &:nth-child(n + 4) {
      margin-top: 30px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .clients-title {
    font-size: 36px;
    line-height: 1.17;
  }
  .clients-list {
    margin-top: 50px;
  }
  .clients-list-item {
    width: calc((100% - 150px) / 6);
    &:nth-last-child(-n + 3),
    &:nth-child(-n + 2) {
      margin-right: 0px;
    }
    &:nth-child(n + 4) {
      margin-top: 0px;
    }
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
